$mosaic-blue: #18b0c8;
$mosaic-blue-trans: rgba(24,176,200, 0.5);
$moasic-dark-blue: #009dad;
$mosaic-red: #e72b41;
$light-gray: #f7f7f7;
$med-gray: #777;


$header-font: 'Roboto Condensed', sans-serif;
$nav-font: 'Roboto Condensed', sans-serif;
$main-font: 'Roboto Condensed', sans-serif; 