.contact {
  text-align: center;
  padding-bottom: 20px;
  background-color: white;
}

.form-left {
  width: 50%;
  float: left;
}

input,
label {
  display: block;
}

.form-label {
  font-size: medium;
}

.form-middle {
  width: 100%;
  text-align: center;
}
.contact-component {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  height: 150px;
  width: 100%;
}

.form-control {
  height: 50px;
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
  border-radius: 4px;
  background-color: #f0f4f8;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  display: block;
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 10px;
  color: #333333;
}
.form-control:focus-visible {
  outline: none;
  box-shadow: none;
}

.form-control::placeholder {

}
.message {
  height: 100px;
}

.contact-form {
  background-color: white;
  width: 50%;
}

.contact-component {
  text-align: center;
}

textarea {
  font-family: Roobert, sans-serif;
}
input[type="text"] {
  font-family: Roobert, sans-serif;
}

.submit-button {
  font-size: 24px;
  font-weight: 600;
  border-radius: ;
  border: none;
  cursor: pointer;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 10px 20px 10px 20px;
  background-color: white;
  color: #333;
  transition: all 300ms ease;
  border: 1px solid #ef566f;
}

.submit-button:hover {
    background-color: #ef566f;
    color: white
}


