@import url("https://use.typekit.net/hbu1pct.css");


/* html,body{
  overflow-x: hidden;
}  */

/* * {
  outline: 1px solid #f00 !important;
}    */

body {
  /* background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); */
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 500;
  font-style: normal;

  /* background-color: #e1e0dd; */
  background-color: white;
}
#transition-program {
  background-color: white;
}
.body-text {
  background-color: white;
  margin: 0;
}

.main-text {
  margin-top: -20px;
}

@font-face {
  font-family: "Medium"; /*Can be any text*/
  src: url("./content/fonts/F37HybridTrial-Regular.otf");
}

@font-face {
  font-family: "ForLinks"; /*Can be any text*/
  src: url("./content/fonts/Author-Semibold.woff");
}

@font-face {
  font-family: "Custom-Bold"; /*Can be any text*/
  src: url("./content/fonts/ABCDiatype-Bold-Trial.woff");
}

.hexagon {
  background-color: red;
}

button {
  background-color: transparent;
  border: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
}
.test {
  position: absolute;
  top: 0;
  bottom: 400px;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
}

* {
  box-sizing: border-box;
}

ul.indicators {
  padding: 0px;
}

/* Create two equal columns that floats next to each other */
.text-column {
  float: left;
  width: 50%;
  padding: 10px;
}

.text-column h3 {
  font-size: 30px;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 600;
  margin: 10px;
}

.text-column p {
  font-size: 24px;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .text-column {
    width: 100%;
  }
}

.poly {
  box-shadow: 10px 5px 5px red;
}

.section-header {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;

}
.section-header h1 {
  text-align: center;
  font-size: 40px;
  margin: 0px;
  font-weight: bold;
  text-decoration: double;
  /* border: solid black 2px; */
  padding: 10px;
  color: black;
  font-family: "neue-haas-grotesk-display", sans-serif;
}

.team-photo {
  clip-path: polygon(
    50% 0,
    100% 25%,
    100% 75%,
    50% 100%,
    0 75%,
    0 25%
  );
}

svg {
  width: 200px;
}

.main-text {
  margin-left: 10%;
  margin-right: 10%;
}
.team-member-info ul li {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}


.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.react-slideshow-container {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.react-slideshow-container .nav[data-type="prev"] span {
  margin-left: 5px;
  border-right: none;
  border-top: none;
}

.react-slideshow-container .nav[data-type="next"] span {
  margin-right: 5px;
  border-left: none;
  border-bottom: none;
}

.each-slide span {
  padding: 20px;
  font-size: 96px;
  text-align: center;
  color: white;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.react-slideshow-container + div.indicators > div:last-of-type {
  margin-right: 10px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 800px;
  box-shadow: ;
}

/* .react-slideshow-wrapper {
  border-radius: 1.5vh;
}

.react-slideshow-container {
  border-radius: 1.5vh;
} */

.yellow-highlight {
  color: #fffba0;
  font-weight: bold;
}

.blue-highlight {
  color: #acd7dc;
  font-weight: bold;
}

.red-highlight {
  color: #ef566f;
  font-weight: bold;
}

.purple-highlight {
  color: #ab39e4;
  font-weight: bold;
}

.yellow-header {
  background-color: #fffba0;
}

.blue-header {
  background-color: #acd7dc;
}

.red-header {
  background-color: #ef566f;
}

.purple-header {
  background-color: #ab39e4;
}

#transition-program {
  text-align: center;
}

