#mentorship {
  background-color: white;
  text-align: center;
}

.mentorship-section {
  width: 100%;

  margin: 0 auto;
  display: -webkit-flex; /* Safari */
  display: flex; /* Standard syntax */
}

.mentorship-section .mentor-column {
  padding: 10px;
  -webkit-flex: 1; /* Safari */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* Standard syntax */
  text-align: left;
}

/* I would want to keep the tp coloumns and the mentor coloumns to always have the same styling */
.mentor-column h3 {
  color: #18b0c8;
  font-size: 30px;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}

.mentor-column p {
    font-size: 24px;
}



@media only screen and (max-width: 800px) {

    .mentorship-section {
        flex-direction: column;
    }
}